<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <button id="btn-menu" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">SAJADV</a>
        </div>
        <div id="menu-collapsible" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user" style="margin-right: 3px"></span>
                        People <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/people">Consultar</a>
                        </li>
                        <li>
                            <a href="#/people/new">Cadastrar</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-file" style="margin-right: 3px"></span>
                        Processo <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/processo">Consultar</a>
                        </li>
                        <li>
                            <a href="#/processo/novo">Cadastrar</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
