<div class="navbar-more-overlay"></div>
<nav class="navbar navbar-inverse navbar-fixed-top animate">
    <div class="container navbar-more visible-xs">			
        
    </div>
    <div class="container">
        
        <ul class="nav navbar-nav navbar-right mobile-bar">
            <li>
                <a ui-sref="home">
                    <span class="menu-icon fa fa-home"></span>
                    Home
                </a>
            </li>
            <li>
                <a ui-sref="people">
                    <span class="menu-icon fa fa-handshake-o"></span>
                    People
                </a>
            </li>
            <li>
                <a ui-sref="exchange">
                    <span class="menu-icon fa fa-handshake-o"></span>
                    Exchange
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-info"></span>                    
                    <span class="visible-xs">About</span>
                </a>
            </li>
            <!--            
            <li>
                <a href="#">
                    <span class="menu-icon fa fa-phone"></span>						
                    <span class="hidden-xs">Contact Us</span>
                    <span class="visible-xs">Contact</span>
                </a>
            </li>
            <li class="visible-xs">
                <a href="#navbar-more-show">
                    <span class="menu-icon fa fa-bars"></span>
                    More
                </a>
            </li>
            -->
        </ul>
    </div>
</nav>