<fieldset>
    <legend>Filtros</legend>

    <div class="row">
        
        <div class="col-md-12 form-group">
            <label >Name</label>
            <div class="form-inline">            
                <input type="text" class="form-control" ng-model="filtro.nomeResponsavel" maxlength="150"/>
                <button class="btn btn-primary" type="button" ng-click="consultar()">Consultar</button>
            </div>            
            
        </div>

    </div>
</fieldset>

<div class="table-responsive" ng-if="peoples !== undefined">
    <table class="table table-striped">
        <thead>
        <tr>
            <th width="14%">Número processo unificado</th>
            <th width="10%">Data distribuição</th>
            <th width="10%">Segredo de justiça</th>
            <th width="14%">Pasta física cliente</th>
            <th width="20%">Descrição</th>
            <th width="10%">Situação</th>
            <th width="20%">Responsáveis</th>
            <th colspan="2">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="processo in peoples | itemsPerPage: pageSize" current-page="currentPage" total-items="totalItems">
            <td>{{ processo.name }}</td>
            <td>{{ processo.dataDistribuicao | date: 'dd/MM/yyyy' }}</td>
            <td>{{ processo.segredoJustica ? 'Sim' : 'Não' }}</td>
            <td>{{ processo.pastaFisicaCliente }}</td>
            <td>{{ processo.descricao }}</td>
            <td>{{ processo.situacao.descricao }}</td>
            <td>{{ processo.nomeResponsaveis }}</td>
            <td>
                <a href="#/processo/{{processo.id}}" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span> Editar
                </a>
            </td>
            <td>
                <button class="btn btn-danger btn-xs" type="button" ng-click="delete(processo)">
                    <span class="glyphicon glyphicon-trash"></span> Excluir
                </button>
            </td>
        </tr>
        <tr ng-if="!processos.length">
            <td colspan="9">
                <span>Nenhum registro encontrado!</span>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <dir-pagination-controls boundary-links="true" on-page-change="consultar(newPageNumber)"></dir-pagination-controls>
        </tfoot>
    </table>
</div>
