<div class="panel panel-default">

    <div class="panel-body">
        <div class="col-md-6">


            <div class="row">

                <h1><i class="fa fa-exclamation-triangle"></i> Report Survivor Infected</h1>

                <form class="form-horizontal">

                    <div class="form-group">

                        <div class="col-md-12">

                            <ui-select ng-model="person.infected" theme="node_modules/ui-select/src/bootstrap" required="true">

                                <ui-select-match placeholder="Search by name">{{$select.selected.name}}</ui-select-match>

                                <ui-select-choices repeat="item in persons | filter: $select.search |limitTo : 20 ">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    <small>
                                        Age: <span ng-bind-html="item.age  | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>

                            </ui-select>	

                        </div>

                    </div>

                    <div class="col-md-12 text-center"> 

                        <button type="submit" class="btn btn-custom" ng-click="setInfected(person)"> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Reportar como infectado</button>

                    </div>

                </form>

            </div>
        </div>
    </div>

</div>

